.projects {
    height: 35rem;
}

.p-head {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 5rem 3.5rem 2rem;
}

.p-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 24rem; */
    width: 80%;
    height: 14rem;
    background-color: #b3a70428;
    /* border: 2px solid #b3a70428; */
    border-radius: 19px;
    gap: 2rem;
}

.p-cards>.cardName {
    text-align: center;
    background-color: #b3a70400;
    font-size: 28px;
    font-weight: bold;
}

.p-cards>.cardDetails {
    text-align: center;
    background-color: #b3a70400;
}

.p-cards button {
    margin: 0 auto;
}

.p-cards a {
    display: contents;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
    background: transparent;
}

@media (max-width:481px) {
    .projects {
        margin-top: 5rem;
    }

    .p-cards {
        height: 16rem;
    }
}