.projects {
    height: 32rem;
    padding: 2rem 0 0;
}

.p-head {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin: 3rem 3.5rem 3rem;
}

.p-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 14rem;
    background-color: var(--ddgray);
    border-radius: 19px;
    gap: 2rem;
}

.p-cards>.cardName {
    font-size: 28px;
    font-weight: bold;
}

.p-cards>.cardDetails,
.p-cards>.cardName {
    text-align: center;
    background-color: #b3a70400;
}

.p-cards button {
    margin: 0 auto;
}

.p-cards a {
    display: contents;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
    background: transparent;
}

@media (max-width:481px) {
    .projects {
        margin-top: 12rem;
    }

    .p-cards {
        height: 16rem;
    }

    .p-head {
        margin-bottom: 5rem;
    }
}