.projects {
    height: 30rem;
}

.p-head {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 5rem 3.5rem 2rem;
}

.p-cards {
    width: 24rem;
    height: 14rem;
    background-color: #b3a70428;
    border: 2px solid #b3a70428;
    /* filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25)); */
    border-radius: 19px;
    /* margin: 0 4rem; */
}

.p-cards>.cardName {
    text-align: center;
    background-color: #b3a70400;
}

.p-cards>.cardDetails {
    text-align:center;
    background-color: #b3a70400;
}

.p-cards button {
    margin: 0 2rem 0;
}

.cards .swiper-button-prev, .cards .swiper-button-next {
    background-color: transparent;
}

.projects-slider {
    /* margin-top: 3rem; */
    width: 100%;
}

/* .projects .cards {
    margin-left: 3.5rem;
} */

/* .ml-3 {
    margin-left: 3rem;
} */

@media (max-width:481px) {
    .p-head {
        text-align: left;
        margin: 5rem 1rem 2rem;
    }
    .p-cards {
        margin: auto;
        width: 20rem;
    }
}

@media (min-width:481px) {
    .cards .swiper-slide-active {
        margin-left: 3rem;
        width: 433px !important;
    }
    
    .cards .swiper-slide-next {
        width: 433px !important;
    }
}