.skills {
    display: flex;
    margin: 18.5rem 5rem 0;
}

.s-left {
    flex: 1;
}

.s-right {
    flex: 1;
}

.s-head {
    font-size: 2.5rem;
    font-weight: bold;
}

.head2 {
    margin-top: 0.5rem;
    color: var(--yellow);
}

.s-body {
    font-size: 0.85rem;
    margin: 1rem 0 2rem;
    color: rgb(146, 146, 146);
}

@media (max-width:481px) {
    .skills {
        display: block;
        margin: 18.5rem 0 5rem;
    }
}