.skills {
    display: flex;
    padding: 12rem 3rem 0;
    height: 36rem;
    margin: 0 3.5rem 0;
}

.s-head {
    font-size: 2.5rem;
    font-weight: bold;
}

.s-body {
    font-size: 0.85rem;
    margin: 1rem 0 2rem;
    color: rgb(146, 146, 146);
}

.s-card {
    position: relative;
}

.s-card>* {
    position: absolute;
}

.s-card>.card1 {
    left: 26rem;
    top: -6rem;
}

.s-card>.card2 {
    left: 1.4rem;
    top: 6rem;
}

.s-card>.card3 {
    left: 24rem;
    top: 15.5rem;
}


@media (max-width:481px) {
    .skills {
        display: block;
        padding: 18.5rem 0 5rem;
        height: 72rem;
        margin: 0;
    }

    .s-info {
        margin: 0 1.4rem 0;
    }

    .s-card {
        margin: 0 1.4rem 0;
        display: flex;
        flex-direction: column;
        gap: 21.2rem;
    }

    .s-card>* {
        position: static;
    }
}