.skills {
    display: flex;
    margin: 14.5rem 3rem 0;
    height: 30rem;
}

.s-info {
    display: flex;
    position: relative;
    flex-direction: column;
}

.s-head {
    font-size: 2.5rem;
    font-weight: bold;
}

.head2 {
    margin-top: 0.5rem;
    color: var(--yellow);
}

.s-body {
    font-size: 0.85rem;
    margin: 1rem 0 2rem;
    color: rgb(146, 146, 146);
}

.s-card {
    position: relative;
}

.s-card>* {
    position: absolute;
}

.s-card>.card1 {
    left: 22rem;
    top: -5rem;
}

.s-card>.card2 {
    left: -6rem;
    top: 12rem;
}

.s-card>.card3 {
    left: 20rem;
    top: 21rem;
}


@media (max-width:481px) {
    .skills {
        display: block;
        margin: 18.5rem 0 5rem;
    }

    .s-card {
        display: flex;
        flex-direction: column;
        gap: 21.2rem;
    }

    .s-card>* {
        position: static;
    }
}