.about {
    margin: 5rem 0 8rem;
    padding-top: 2.5rem;
}

.a-head {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 3.5rem;
}

.a-body {
    display: flex;
    transform: skewY(-3deg);
    background-color: var(--dgray);
    height: 22rem;
    padding: 0 5rem 0;
}

.a-bodyPic {
    flex: 1;
    transform: skewY(3deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.picDiv {
    height: 14rem;
    width: 14rem;
    background-color: var(--gray);
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.a-bodyInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    transform: skewY(3deg);
    line-height: 25px;
}

@media (max-width:481px) {
    .a-body {
        flex-direction: column;
        height: 35rem;
        padding: 1rem 1.4rem 1rem;
    }

    .a-bodyInfo, .a-bodyPic {
        flex: 1;
    }
}