.navbar {
    height: 8vh;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.n-left {
    display: flex;
    justify-content: left;
    flex: 1;
    font-weight: bold;
}

.n-right {
    display: flex;
    justify-content: right;
    flex: 1;
    gap: 1.5rem;
}

.navbar ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

@media (max-width:715px) {
    .navbar ul {
        display: none;
    }
}

@media (max-width:481px) {
    .navbar {
        margin: 0;
    }
}