.intro {
    margin: 0 3.5rem 1rem;
    padding-top: 12rem;
    display: flex;
}

.name2 {
    margin-top: 0.8rem;
    color: var(--yellow);
    font-weight: bolder;
    font-size: 3rem;
}

.i-info {
    font-size: 1.5rem;
    margin: 0.5rem 0 2rem;
}

.i-btn {
    width: 6rem;
    margin: 6px 0;
}

.i-connect {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: 3.5rem 0;
}

.i-connect>:nth-child(1) {
    padding: 15px;
}

.i-connect>:nth-child(2) {
    padding: 5px;
}

.i-left {
    flex: 1;
}

.i-right {
    flex: 1;
}

.i-shape {
    position: absolute;
    right: 0;
    top: 50px;
    width: 40%;
}

.i-box {
    position: relative;
    width: 26rem;
    margin: auto;
}

.i-box>div {
    padding: 35px;
    border-radius: 10px;
    background-color: var(--ddgray);
    box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
}

.i-box>div>pre {
    padding: 4px 0 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width:481px) {
    .intro {
        display: block;
        margin: 7rem 1.4rem 1rem;
    }

    .i-name {
        font-size: 2.5rem;
    }

    .i-info {
        font-size: 0.65rem;
    }
}