.intro {
    margin: 7rem 0 1rem;
    display: flex;
}

.i-name {
    font-size: 3.5rem;
}

.name2 {
    margin-top: 0.8rem;
    color: var(--yellow);
    font-weight: bold;
}

.i-info {
    font-size: 0.85rem;
    margin: 1rem 0 2rem;
    color: rgb(146, 146, 146);
}

.i-btn {
    width: 6rem;
    margin: 6px 0;
}

.i-connect {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: 3.5rem 0;
}

.i-connect>:nth-child(1) {
    padding: 15px;
}

.i-connect>:nth-child(2) {
    padding: 5px;
}

.i-left {
    flex: 1;
}

.i-right {
    flex: 1;
}

@media (max-width:481px) {
    .intro {
        display: block;
    }
    
    .i-name {
        font-size: 2.5rem;
    }

    .i-info {
        font-size: 0.65rem;
    }
}