/* Skill Bars */
.card-head {
    text-align: center;
    font-size: 1.4rem;
}

.s-bars {
    padding: 25px 30px;
    width: 17rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.s-bars .bar {
    margin: 20px 0;
}

.s-bars .bar:first-child {
    margin-top: 0px;
}

.s-bars .bar .info {
    padding-bottom: 5px;
}

.s-bars .bar .info span {
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.s-bars .bar .progress-line {
    height: 10px;
    background: #f0f0f0;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #F5C32C;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.HTML span {
    width: 95%;
}

.bar .progress-line.CSS span {
    width: 80%;
}

.bar .progress-line.Javascript span {
    width: 70%;
}

.bar .progress-line.React span {
    width: 60%;
}

.bar .progress-line.PHP span {
    width: 70%;
}

.bar .progress-line.NodeJS span {
    width: 80%;
}

.bar .progress-line.Firebase span {
    width: 60%;
}

.bar .progress-line.Python span {
    width: 50%;
}

.bar .progress-line.Figma span {
    width: 60%;
}

.bar .progress-line.Sketch span {
    width: 50%;
}

.bar .progress-line.Blender span {
    width: 45%;
}

.bar .progress-line.GIMP span {
    width: 75%;
}

.progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    border: 7px solid transparent;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
    position: absolute;
    top: -30px;
    right: 0;
    background: #000;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.HTML span::after {
    content: "95%";
}

.progress-line.CSS span::after {
    content: "80%";
}

.progress-line.Javascript span::after {
    content: "70%";
}

.progress-line.React span::after {
    content: "60%";
}

.progress-line.PHP span::after {
    content: "70%";
}

.progress-line.NodeJS span::after {
    content: "80%";
}

.progress-line.Firebase span::after {
    content: "60%";
}

.progress-line.Python span::after {
    content: "50%";
}

.progress-line.Figma span::after {
    content: "60%";
}

.progress-line.Sketch span::after {
    content: "50%";
}

.progress-line.Blender span::after {
    content: "45%";
}

.progress-line.GIMP span::after {
    content: "75%";
}

/* END */

@media (max-width:481px) {
    .s-bars {
        width: 85%;
    }
}